/* Variables for Project */

/* Font and its color */

$base-font-size: 15px;
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
$base-font-color: #666666;

/* Background colors */


$primary-color: #CEDEA8;
$secondary-color: #FACFAA;
$border-color: #DE8864;
$dark2-color: #29302b;
$dark-color: #212724;
$light-color: #F1EEE7;
$new-color: #d3ff9d;

/* Background picture - Parralax */

$background-height-s: 200px;
$background-height-ms: 300px;
$background-height-m: 400px;
$background-height-l: 800px;
$background-image: '../img/background1.jpeg';
$background-image-2: '../img/background3.jpeg';
$background-image-4: '../img/background4.jpeg';
$background-image-5: '../img/background5.jpeg';
