/* Buttons */
.btn-contact{
    font-weight: 400;
    font-size: 17px;
    margin-top: -10px;
    padding: 13px 15px;
    color: $dark-color;
    @include add-border(1px, $dark-color, all);
    @include add-background($light-color);
    box-shadow: 0px 15px 10px -10px $dark-color;
    transition: all ease-in-out 300ms;
}
.btn-contact:hover{
    color: $dark-color;
    box-shadow: 0px 25px 20px -20px $dark-color;
    transform: translate(0, -5px);
    transition: all ease-in-out 300ms;
}
.modal-footer{
    text-align: center;
}
.m-button{
    padding: 10px 13px;
    color: #666666;
    @include add-border(1px, #666666, all);
    @include add-background($light-color);
    @include border-radius(5px);
    transition: all ease-in-out 150ms;
}
.m-button:hover{
    color: $light-color;
    @include add-background(#666666);
    transition: all ease-in-out 150ms;
}
